<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFinanças - Receita</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="app-container">
        <aside class="sidebar">
             <div class="sidebar-header">
                <h3>Laís Rosa</h3>
                <a href="dashboard.html" class="back-link">voltar ao início</a>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="perfil.html">Perfil</a></li>
                    <li><a href="upload.html">↑ upload extrato mensal</a></li>
                    <li><a href="despesa.html">$ Registrar despesa</a></li>
                    <li><a href="receita.html" class="active">+ Registrar Receita</a></li>
                    <li><a href="simulador.html">Simulador</a></li>
                    <li><a href="meta.html">Criar meta</a></li>
                </ul>
            </nav>
            <div class="sidebar-footer">
                <a href="index.html">Sair</a>
            </div>
        </aside>
        <main class="main-content">
            <div class="form-container">
                <h2>Registrar receita</h2>
                <form>
                    <div class="form-row">
                        <input type="text" placeholder="Valor">
                        <input type="date" placeholder="Data">
                    </div>
                    <button type="submit" class="btn-salvar-form">Salvar</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>